body,html{font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('lobotomy.jpg');
    background-size: cover;
    background-position: 30%;
    ul{
        text-align: left;
    }
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: darkkhaki;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}

.boton-redireccion{
    background-color: black;
    color: rgb(255, 183, 0);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20PX;
    border-radius: 5PX;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: brown;
    color:black;
    font-style:oblique;
    
}